.App {
  margin: 25px 50px;
}

.text-main {
  color: #6e3aff !important;
}

body {
  height: 0;
}

ul {
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pencil {
  cursor: url('../public/pencil.cur'), pointer;
}
